<div class="card">
  <div class="card-body">
    <div class="devise-header">
      <h1><%= t('.sign_up') %></h1>
      Or 
      <%= link_to t(".log_in_to_your_account"), new_session_path(resource_name) %>
    </div>

     <%= simple_form_for resource, as: resource_name,  url: registration_path(resource_name), wrapper: :input_group,
                        data: {turbo: false} do |f| %>
      <%= bootstrap_devise_error_messages! %>

      <%= f.input :email, hint: '' %>
    
      <div data-controller="password-visibility" data-password-visibility-hidden-class="d-none">
        <% toggle_visibility = content_tag(:a, href: "", class: "pe-auto text-decoration-none", data: { action: "password-visibility#toggle" }) do
          content_tag(:span, '<i class="bi-eye-slash"></i>'.html_safe, data: { password_visibility_target: "icon" }) +
          content_tag(:span, '<i class="bi-eye"></i>'.html_safe, class: "d-none", data: { password_visibility_target: "icon" })
        end %>      
        <%= f.input :password, hint: 'Choose a password with at least 8 characters, 1 uppercase, 1 lowercase, 1 digit and 1 special character (for example ! or -).', append: toggle_visibility, input_html: { data: { password_visibility_target: "input" }, hint: 'some hint' } %>      
      </div>
      
      <div class="form-group">
        <%= f.submit t('.sign_up'), class: 'btn btn-primary w-100' %>
      </div>
    <% end %>
    <%= render 'devise/shared/links' %>
  </div>
</div>